aerich==0.5.3
aiohttp==3.7.4.post0
aiosqlite==0.16.1
appdirs==1.4.4
astunparse==1.6.3
async-timeout==3.0.1
atlastk==0.12.10
attrs==21.2.0
black==21.6b0
braceexpand==0.1.7
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
ddlparse==1.9.0
dictdiffer==0.8.1
discord-ext-menus==1.1
discord.py==1.7.3
greenlet==1.1.0
humanize==3.9.0
idna==2.10
import-expression==1.1.4
iso8601==0.1.14
jishaku==2.0.0
multidict==5.1.0
mypy-extensions==0.4.3
pathspec==0.8.1
pydantic==1.8.2
pyparsing==3.0.0b2
pypika-tortoise==0.1.1
pytz==2021.1
regex==2021.4.4
requests==2.25.1
six==1.16.0
SQLAlchemy==1.4.18
toml==0.10.2
tortoise-orm==0.17.4
typing-extensions==3.10.0.0
urllib3==1.26.5
watchdog==2.1.2
watchgod==0.7
yarl==1.6.3
